<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>Jeu de Combat Pokémon</h1>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        
    </body>
</html>
